@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    padding: 0;
    font-family: "Rubik", sans-serif;
    color: white;
    background-image: url(https://img.freepik.com/free-photo/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-102978.jpg?semt=ais_user_personalization&w=740&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 700px;
    position: relative;
    margin: 0 auto;
}
header, body > div, section, footer {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px red;
    background-color: hsla(0 100% 0% / 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px red;
}
header {
    display: flex;
    flex-direction: column;
}
header > div:nth-child(1) {
    display: flex;
    flex-direction: row;
}
header > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
body > div {
    background: #ff0000;
    background: linear-gradient(135deg , darkred 0%, black 100%);
}
body > div > div {
    display: flex;
}
body > div:nth-child(10) {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: none;
}
body > div:nth-child(10) > div:nth-child(1) > img {
    height: 60px;
    width: 60px;
}
body > div:nth-child(10) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
a {
    border: solid 1px red;
    color: white;
}
img {
    width: 39px;
}
p {
    margin: auto;
}
section {
    text-align: justify;
}
.block {
    display: none;
    animation-duration: 5s;
    animation-name: colorChange;
}
@keyframes colorChange {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.active {
    display: flex;
    flex-direction: row;
}
#popUp {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}
input {
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    font-family: "Rubik", sans-serif;
}
button {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: red;
    font-family: "Rubik", sans-serif;
}
h3 {
    margin: 0;
}